.carousel-inner {
  max-height: 800px; /* Adjust to your preferred height */
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.carousel-item img {
  max-height: 750px;
  width: auto; /* Maintains aspect ratio */
  border-radius: 10px;
  object-fit: contain; /* Ensures the full image is visible */
}
